* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5f5;
  font-family: "Poppins", sans-serif;
  max-width: 1600px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ffb300 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet {
  background: #dedede !important;
  opacity: 1 !important;
  margin: 6px !important;
  width: 10px !important;
  height: 10px !important;
}
